@import "../../styles/variables.scss";

.contact {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-items: center;

  @media screen and (min-width: 1110px) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
  }
}

.contact__content {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: $secondary-background-color-lightGray;

  width: 100%;
  @media screen and (min-width: 1360px) {
    padding: 80px 64px 80px 20px;
  }
}
